<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="hu.rgai.android.test"
      android:versionCode="6"
      android:versionName="1.0.6">
  
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="16"/>
  
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    <uses-permission android:name="android.permission.READ_CONTACTS" ></uses-permission>
    <uses-permission android:name="android.permission.WRITE_CONTACTS" ></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" ></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" ></uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS" ></uses-permission>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    
    <application android:label="@string/app_name" android:icon="@drawable/yako" android:debuggable="false">
      <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        <activity android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
          android:name="MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="EmailDisplayer"
                  android:label="@string/app_name"
                  android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        >
          <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hu.rgai.android.test.MainActivity" />
        </activity>

        <activity android:name="ThreadDisplayer"
                  android:label="@string/app_name"
                  android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        >
          <meta-data
                  android:name="android.support.PARENT_ACTIVITY"
                  android:value="hu.rgai.android.test.MainActivity" />
        </activity>
        <activity android:name=".settings.SimpleEmailSettingActivity"
                  android:label="@string/adding_simple_email_account"
                  android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
                  android:uiOptions="splitActionBarWhenNarrow"
        >
            <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hu.rgai.android.test.settings.AccountSettingsList" />
        </activity>
        <activity android:name=".settings.GmailSettingActivity"
                  android:label="@string/adding_gmail_account"
                  android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
                  android:uiOptions="splitActionBarWhenNarrow"
        >
            <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hu.rgai.android.test.settings.AccountSettingsList" />
        </activity>
        <activity android:name=".settings.FacebookSettingActivity"
                  android:label="@string/adding_fb_account"
                  android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
                  android:uiOptions="splitActionBarWhenNarrow"
        >
            <meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hu.rgai.android.test.settings.AccountSettingsList" />
            
        </activity>
        <activity android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
                  android:name="MessageReply"
                  android:label="@string/app_name">
        </activity>
        
        <activity android:name=".settings.AccountSettingsList"
                  android:label="@string/account_settings"
                  android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
                  >
          <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hu.rgai.android.test.MainActivity" />
        </activity>
        
        <activity android:name="com.facebook.LoginActivity"
                  android:label="@string/facebook_login_name">
        </activity>
        <service
            android:name="hu.rgai.android.services.MainService"
            android:icon="@drawable/ic_launcher"
            android:label="@string/service_name" >
        </service>
        <service
            android:name="hu.rgai.android.services.ThreadMsgService"
            android:icon="@drawable/ic_launcher"
            android:label="@string/service_name" >
        </service>

        <receiver android:name="hu.rgai.android.services.schedulestarters.MainScheduler" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="hu.rgai.android.services.schedulestarters.MainServiceStarter" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
        <receiver android:name="hu.rgai.android.messageproviders.SmsMessageProvider">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"></action>
            </intent-filter>
        </receiver>
        
        <receiver android:name="hu.rgai.android.broadcastreceivers.CustomBroadcastReceiver" >
<!--            <intent-filter>
                <action android:name="hu.rgai.android.new_message_arrived_broadcast" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>-->
        </receiver>
        
        <receiver android:name="hu.rgai.android.test.ThreadDisplayer$NewMessageReceiver">
        </receiver>
        
        <receiver android:name="hu.rgai.android.services.schedulestarters.ThreadMsgScheduler" >
        </receiver>
        <receiver android:name="hu.rgai.android.services.schedulestarters.ThreadMsgServiceStarter" >
        </receiver>
        
    </application>
</manifest>
