<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="hu.rgai.android.test"
      android:versionCode="79"
      android:versionName="1.0.79">
  
    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="16"/>
  
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    <uses-permission android:name="android.permission.READ_CONTACTS" ></uses-permission>
    <uses-permission android:name="android.permission.WRITE_CONTACTS" ></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" ></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" ></uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS" ></uses-permission>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    
    <application
      android:name="hu.rgai.yako.YakoApp"
      android:label="@string/app_name"
      android:icon="@drawable/yako"
      android:debuggable="false" >
      
      <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
      
      <activity android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
                android:name="MainActivity"
                android:label="@string/app_name">
        <intent-filter>
          <action android:name="android.intent.action.MAIN" />
          <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>

      <activity android:name="hu.rgai.yako.view.activities.EmailDisplayerActivity"
                android:label="@string/app_name"
                android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
                android:parentActivityName="hu.rgai.android.test.MainActivity" >
        <meta-data  android:name="android.support.PARENT_ACTIVITY"
                    android:value="hu.rgai.android.test.MainActivity" />
      </activity>


      <activity android:name="hu.rgai.yako.view.activities.ThreadDisplayerActivity"
                android:label="@string/app_name"
                android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
                android:parentActivityName="hu.rgai.android.test.MainActivity" >
        <meta-data  android:name="android.support.PARENT_ACTIVITY"
                    android:value="hu.rgai.android.test.MainActivity" />
      </activity>


      <activity android:name="hu.rgai.yako.view.activities.SimpleEmailSettingActivity"
                android:label="@string/setup_simple_email_account"
                android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
                android:uiOptions="splitActionBarWhenNarrow"
                android:parentActivityName="hu.rgai.yako.view.activities.AccountSettingsListActivity" >
        <meta-data  android:name="android.support.UI_OPTIONS"
                    android:value="splitActionBarWhenNarrow" />
        <meta-data  android:name="android.support.PARENT_ACTIVITY"
                    android:value="hu.rgai.yako.view.activities.AccountSettingsListActivity" />
      </activity>


      <activity android:name="hu.rgai.yako.view.activities.InfEmailSettingActivity"
                android:label="@string/setup_inf_email_account"
                android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
                android:uiOptions="splitActionBarWhenNarrow"
                android:parentActivityName="hu.rgai.yako.view.activities.AccountSettingsListActivity" >
        <meta-data  android:name="android.support.UI_OPTIONS"
                    android:value="splitActionBarWhenNarrow" />
        <meta-data  android:name="android.support.PARENT_ACTIVITY"
                    android:value="hu.rgai.yako.view.activities.AccountSettingsListActivity" />
      </activity>



      <activity android:name="hu.rgai.yako.view.activities.GmailSettingActivity"
                android:label="@string/setup_gmail_account"
                android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
                android:uiOptions="splitActionBarWhenNarrow"
                android:parentActivityName="hu.rgai.yako.view.activities.AccountSettingsListActivity" >
        <meta-data  android:name="android.support.UI_OPTIONS"
                    android:value="splitActionBarWhenNarrow" />
        <meta-data  android:name="android.support.PARENT_ACTIVITY"
                    android:value="hu.rgai.yako.view.activities.AccountSettingsListActivity" />
      </activity>


      <activity android:name="hu.rgai.yako.view.activities.SystemPreferences"
                android:label="@string/settings"
                android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
                android:uiOptions="splitActionBarWhenNarrow"
                android:parentActivityName="hu.rgai.android.test.MainActivity" >
        <meta-data  android:name="android.support.UI_OPTIONS"
                    android:value="splitActionBarWhenNarrow" />
        <meta-data  android:name="android.support.PARENT_ACTIVITY"
                    android:value="hu.rgai.android.test.MainActivity" />
      </activity>


      <activity android:name="hu.rgai.yako.view.activities.FacebookSettingActivity"
                android:label="@string/setup_fb_account"
                android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
                android:uiOptions="splitActionBarWhenNarrow"
                android:parentActivityName="hu.rgai.android.test.settings.AccountSettingsList" >
        <meta-data  android:name="android.support.UI_OPTIONS"
                    android:value="splitActionBarWhenNarrow" />
        <meta-data  android:name="android.support.PARENT_ACTIVITY"
                    android:value="hu.rgai.yako.view.activities.AccountSettingsListActivity" />
      </activity>


      <activity android:name="hu.rgai.yako.view.activities.MessageReplyActivity"
                android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
                android:label="@string/app_name"
                android:parentActivityName="hu.rgai.android.test.MainActivity" >

        <intent-filter>
          <action android:name="android.intent.action.SENDTO" />
          <category android:name="android.intent.category.DEFAULT" />
          <data android:scheme="smsto" />
          <data android:scheme="mailto" />
        </intent-filter>

        <intent-filter>
          <action android:name="android.intent.action.SENDTO" />
          <category android:name="android.intent.category.DEFAULT" />
          <data android:scheme="imto" android:host="facebook" />
        </intent-filter>

        <meta-data  android:name="android.support.PARENT_ACTIVITY"
                    android:value="hu.rgai.android.test.MainActivity" />
      </activity>


      <activity android:name="hu.rgai.yako.view.activities.AccountSettingsListActivity"
                android:label="@string/account_settings"
                android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
                android:parentActivityName="hu.rgai.android.test.MainActivity" >
        <meta-data  android:name="android.support.PARENT_ACTIVITY"
                    android:value="hu.rgai.android.test.MainActivity" />
      </activity>


      <activity android:name="com.facebook.LoginActivity"
                android:label="@string/facebook_login_name">
      </activity>


      <service  android:name="hu.rgai.yako.services.MainService"
                android:icon="@drawable/ic_launcher"
                android:label="@string/service_name" >
      </service>


      <receiver android:name="hu.rgai.yako.services.schedulestarters.MainScheduler" >
        <intent-filter>
          <action android:name="android.intent.action.BOOT_COMPLETED" />
        </intent-filter>
      </receiver>


      <receiver android:name="hu.rgai.yako.messageproviders.SmsMessageProvider">
        <intent-filter>
          <action android:name="android.provider.Telephony.SMS_RECEIVED"></action>
        </intent-filter>
      </receiver>


      <receiver android:name="hu.rgai.yako.broadcastreceivers.GlobalBroadcastReceiver" >
        <intent-filter>
          <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
        </intent-filter>
      </receiver>
      
      <receiver android:name="hu.rgai.yako.broadcastreceivers.MessageSentBroadcastReceiver" >
        <intent-filter>
          <action android:name="hu.rgai.yako.message_sent_broadcast" />
        </intent-filter>
      </receiver>
      
      <receiver android:name="hu.rgai.yako.broadcastreceivers.SimpleMessageSentBrodacastReceiver" >
        <intent-filter>
          <action android:name="hu.rgai.yako.message_sent_broadcast" />
        </intent-filter>
      </receiver>
      
      <receiver android:name="hu.rgai.yako.broadcastreceivers.ThreadMessageSentBroadcastReceiver" >
        <intent-filter>
          <action android:name="hu.rgai.yako.message_sent_broadcast" />
        </intent-filter>
      </receiver>

      <receiver android:name="hu.rgai.yako.view.activities.ThreadDisplayerActivity$NewMessageReceiver">
      </receiver>
        
    </application>
</manifest>
